[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
debugpy = "*"
mypy = "*"
neotest = "*"
pytest = "*"
remote-pdb = "*"
setuptools = "*"
tomli = "*"
versioneer = "*"
termcolor = "*"

[requires]
python_version = "3.10"
# python_full_version = "3.11.4"
